@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ESTILOS HEADER */

header{
  display: flex;
  justify-content: center;
}


header nav img {
  width: 6%;
}

header nav div {
  width: 50%;
  color: #242424;
}

header nav div ul {
  font-size: 15px;
  display: flex;
  flex-direction: column;
}



.navbar {
  display: flex;
  justify-content: space-around;
  width:95%;
  background-color: #242424;
  color: white;
  border-radius: 30px;
  margin-top:15px;
  position: absolute;
  z-index: 10;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: 50px;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.active {
  font-weight: bold;
  color: #eee;
}

.active:hover {
  background-color: #4c4d4d;
  border-radius: 15px;
}

.carrito-container {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.carrito-dropdown ul {
  list-style: none;
  padding: 0;
}

.carrito-dropdown li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.carrito-dropdown li h4 {
  flex: 2;
  text-align: left;
  margin: 0;
}

.carrito-dropdown li .plus-button,
.carrito-dropdown li .minus-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
}

#total {
  font-weight: bold;
  margin-top: 10px;
  text-align: right;
}

#comprar,
#vaciar-carrito {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
}



#carrito-btn,
#compraProd {
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn {
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
}

.carrito-dropdown {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.carrito-dropdown.visible {
  margin-top: 30px;
  margin-right: 180px;
  display: block;
}

.carrito-dropdown {
  display: none; /* Oculto por defecto */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  position: absolute;
  top: 50px;
  right: 0;
  width: 300px;
  padding: 20px;
  z-index: 1000;
}

/* Estilos para el modal */
.modal {
  display: none;
  /* Oculto por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo oscuro con opacidad */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-close {
  color: #333;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  margin-top: -10px;
}

.modal-close:hover {
  color: red;
}

h2 {
  margin-top: 0;
  font-family: Arial, sans-serif;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  padding: 10px;
  width: 100%;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(51, 51, 51);
}

button:active {
  background-color: #215923;
}

#resumenCompra {
  display: block;
  /* Asegura que esté visible */
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

/* INICIO */

.section-video {
  position: relative;   
  display: flex;        /* Para alinear los videos en fila */
  width: 100%;
  height: 100vh;        /* Ocupa toda la altura de la pantalla */
  overflow: hidden;

}

.section-video video{
  width: 33.33%;
  object-fit: cover;
  z-index: -10;
  filter: brightness(45%); /* 100% es normal, 60% lo oscurece */
} 

.content {
  position: absolute;   /* Se coloca encima de los videos */
  top: 50%;             /* Centro vertical */
  left: 50%;            /* Centro horizontal */
  transform: translate(-50%, -50%); /* Ajusta el punto de referencia */
  text-align: center;
  color: white;
  z-index: 10;          /* Encima de los videos */         /* Encima de los videos */
}

.content h1 {
  font-size: 3rem;   /* ~text-5xl */
  font-weight: bold; /* font-bold */
}

.content p {
  font-size: 1.25rem; /* ~text-xl */
  margin-top: 1rem;   /* mt-4 */
}


/* PLANES */


.planes-title{
  text-align: center;
  color: #f9f9f9;
  display: flex;
  flex-direction: column;
  margin:50px 0px 50px 0px;
}


.planes-sec {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding: 25px;
  margin:100px 0px 100px 0px;
}


.planes-card {
  background-color: #2c2c2c;
  color: #f9f9f9;
  padding: 20px;
  width: 60%;
  border-radius: 5px;
}

.planes-card .card-title {
  font-size: 15px;
}

.planes-card .card-items {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.planes-card .card-p {
  padding: 10px;
  font-size: 10px;
  text-align: center;
}

/* SOBRE MI */

.about-me {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 0px 60px 0px;
 position: relative;
  padding: 100px 100px;
  color: #fff;
  display:flex;
  justify-content:start;
}

.about-me{
  background: url('img/inicio/banner.png')center/cover no-repeat;
  object-fit: cover;
}


.about-me .img-me {
  width: 40%;
  display:flex;
  justify-content:center;
}

.about-me .img-me img {
  width: 60%;
}

.about-me .info-me {
  width: 40%;
  text-align: start;
  color: #f9f9f9;
  font-size: 20px;
  padding: 50px;
}

/* SECCIONES */

.section-card {
  display: flex;
  margin:100px 0px 100px 0px;
  gap: 30px;
  text-align: center;
  gap: 40px;
}

.section-card div {
  border-radius: 16px;             
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.section-card div img{
  z-index: -10;
}



/* PRINCIPAL */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


h1 {
  padding: 10px;
  color: #a1ef00;
}







.producto img {
  width: 60%;
}

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  gap: 15px;
}

.botonera {
  display: flex;
  align-items: center;
  gap: 20px;
}




.btn-comprar {
  width: 20%;
}

.sobre-nosotros {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px;
  gap: 50px;
}

.detalle-producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 5px;
  margin-top: 15px;
}

.detalle-producto img {
  width: 15%;
}

/* NOSOTROS */

.nos-alumnos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  background-color: #242424;
  color: whitesmoke;
  text-align: start;
  border-radius: 2px;
}

.nos-alumnos .alumno {
  width: 30%;
  display: flex;
  justify-content: center;
}

.nos-alumnos .alumno img {
  width: 65%;
  object-fit: cover;
}

/* CONTACTOS */

.sec-contactos {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sec-contactos .texto {
  width: 95%;
}

.sec-contactos .logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 25px;
}

.sec-contactos .logos .div-logo img {
  width: 100%;
}

.sec-contactos .logos .div-logo {
  background-color: #fff;
}

.sec-contactos .formulario {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px; 
  background-color: #242424; 
  padding: 20px;
  border-radius: 3px;
}

.sec-contactos .formulario .controles {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #1c1c1c; /* Fondo gris oscuro */
  color: white;
  font-size: 16px;
}

.sec-contactos .formulario .boton {
  width: 100%; /* Alineado al tamaño de los inputs */
  max-width: 400px;
  padding: 10px;
  background-color: #a1ef00; /* Verde */
  color: #2c2c2c;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.sec-contactos .formulario .boton:hover{
  background-color: #a1ef00;
}

/*footer */

footer {
  background-color: #242424;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  border-radius: 2px 2px 0px 0px;
  align-items: center;
}

footer .div-categorias,
footer .div-contactos,
footer .div-soporte {
  gap: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
  margin-top: 15px;
  margin-bottom: 15px;
}

footer div h3,
footer h3 {
  font-size: 25px;
}

footer div a {
  width: 40%;
  text-decoration: none;
  color: #a1ef00;
  font-size: 13px;
}
